 <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">  
        <div class="col-md-4">
            <!-- It can be fixed with bootstrap affix http://getbootstrap.com/javascript/#affix-->
            <div id="sidebar" class="well sidebar-nav">             
                <img src="../produit/display/ayub.jpg">              
            </div>
        </div>  
        <div class="col-sm-8">
          <div id="sidebar" class="well sidebar-nav">
                  <h4>Ayub</h4>
             <span class="description">
                Dj & Producteur.
             </span>
          </div>
          <div class="container">
            <button type="button" class="btn btn-primary">add to fav</button>
            <button type="button" class="btn btn-primary">add to chart</button>
            <button type="button" class="btn btn-primary">acheter</button>
                 
          </div>
        </div>     
    </div>
</div> 
<br>

